name: CI
on: [push, pull_request]

env:
  POETRY_HOME: /home/runner/.local
  POETRY_CACHE_DIR: /home/runner/.local/.cache

jobs:

  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    env:
      EVENTSTORE_IMAGE_TAG: ${{ matrix.eventstore-image-tag }}
    runs-on: "ubuntu-24.04"
    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        uses: abatilo/actions-poetry@v4

      - name: Setup a local virtual environment (if no poetry.toml file)
        run: |
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local

      - uses: actions/cache@v3
        name: Define a cache for the virtual environment based on the dependencies lock file
        with:
          path: ./.venv
          key: venv-${{ hashFiles('poetry.lock') }}

      - name: Install the project dependencies
        run: poetry install

      - name: Run mypy
        run: poetry run mypy

      - name: Start local dynamodb
        run: docker compose -f docker/docker-compose.yaml up -d

      - name: Create dynamodb table
        run: |
          aws dynamodb create-table \
              --endpoint-url http://localhost:8000 \
              --table-name dynamo_events \
              --attribute-definitions \
                  AttributeName=originator_id,AttributeType=S \
                  AttributeName=originator_version,AttributeType=N \
              --key-schema AttributeName=originator_id,KeyType=HASH AttributeName=originator_version,KeyType=RANGE \
              --billing-mode PAY_PER_REQUEST \
              --no-cli-pager

      - name: Run tests
        run: poetry run pytest -v
